<!DOCTYPE HTML>

<html>
	<head>
		<title>카드 제작</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/stylesheets/main.css" />
		<style>
			ul{
				list-style-type: none;
				margin: 0;
				padding: 0;
				overflow: hidden;
			}
			li{
				float: left;
			}
		</style>
	</head>
	<body class="is-preload">

		<!-- Header -->
            <header id="header">
				<div class="inner">
					<a href="#" class="image avatar"><img src="/images/avatar_1.jpg" alt="" /></a><br>
					<a href="/login" class="myButton">logout</a>
                    <h1><a href="/index">main</a><br />
					<strong><a href="/card">card design</a></strong><br />
					<a href="/Q&A">Q&A</a></h1>
				</h1>
				</div>
			</header>

			<div id="main">
					<section id="one">
						<h2>♡Card Production♡</h2>
					</section>

					<section id="two">
						
						<div class="row">
							<article class="col-8 work-item">
								<img src="/images/생일카드2_2.png" class="image fit" alt="" />
							</article>
                            <form>
								주문 되었습니다. <br><br>
								추가 하고 싶은 내용이 있으시다면 아래에 입력해주세요. <br><br>
								<div class="col-6 col-12-xsmall"><input type="text" name="text" id="text" placeholder="추가 하고싶은 내용을 입력해주세요." /></div>
								
								<br>
								<ul>
									<li><a href="#"><img src="/images/facebook.png" width="50" alt="" /></a><br></li>
									<li><a href="#"><img src="/images/instagram.png" width="50" class="a" alt="" /></a><br></li>
									<li><a href="#"><img src="/images/twitter.png" width="50" alt="" /></a><br></li>
								</ul>
								<br>

                                <a href="/index" class="button">Check♡</a>
                                                
                            </form>
                        </div>
					</section>

					<section id="three">
						
					</section>
			</div>
	</body>
</html>