<!DOCTYPE HTML>

<html>
	<head>
		<title>카드 제작</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/stylesheets/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
            <header id="header">
				<div class="inner">
					<a href="#" class="image avatar"><img src="/images/avatar_1.jpg" alt="" /></a><br>
					<a href="/" class="myButton">logout</a>
                    <h1><a href="/index">main</a><br />
					<strong><a href="/card">card design</a></strong><br />
					<a href="/Q&A">Q&A</a></h1>
				</h1>
				</div>
			</header>

			<div id="main">
					<section id="one">
						<h2>♡Card Production♡</h2>
					</section>

					<section id="two">
						
						<div class="row">
							
							<article class="col-6 col-12-xsmall work-item">
								<img src="/images/생일카드.png" alt="" class="image fit"/>
								<h3>생일 카드 ver.1</h3>
								<p>생일 축하 카드 ver.1</p>
							</article>
							
							<form action = "./birthproduction" method ="POST">
                                <div class="form-label-group">
                                    <input type="text" id="inputEmail" class="form-control" placeholder="이름" required>
                                    <label for="inputPassword"></label>
                                </div>
                                
                                <div class="form-label-group">
                                    <input type="text" id="inputEmail" class="form-control" placeholder="하고싶은 말" required>
                                    <label for="inputPassword"></label>
                                </div>
                                
                                <div class="form-label-group">
                                    <input type="text" id="inputEmail" class="form-control" placeholder="주소" required>
                                    <label for="inputPassword"></label>
                                </div>  
                                
                                <div class="form-label-group">
                                    <input type="text" id="inputEmail" class="form-control" placeholder="연락처" required>
                                    <label for="inputPassword"></label>
                                </div>  
                                <br>
    
								<input type="submit" class="button" value = "card Production♡" > 
                            </form>
                        </div>
					</section>

					<section id="three">
						
					</section>
			</div>
	</body>
</html>