<!DOCTYPE HTML>

<html>
	<head>
		<title>main</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/stylesheets/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
            <header id="header">
				<div class="inner">
					<img src="/images/avatar_1.jpg" class="image avatar" alt="" /><br>
					<a href="/" class="myButton">logout</a>
					<h1><strong><a href="/index">main</a></strong><br />
					<a href="/card">card design</a><br />
					<a href="/Q&A">Q&A</a></h1>
				</div>
			</header>

			<div id="main">
					<section id="one">
						<header class="major">
							
					</section>
						
					<section id="two"> 
							<h2>♡Celeb card♡<br />
								특별한 카드를 제작해보세요.</h2>
							</header>
							<p>내가 직접 제작하는 Celeb card <br>
								당신만의 특별한 카드 제작하는 곳
							</p>
					</section>

					<section id ="three">

					</section>
					
			</div>
	</body>
</html>