<!DOCTYPE HTML>

<html>
	<head>
		<title>카드 제작</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/stylesheets/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
            <header id="header">
				<div class="inner">
					<a href="information"> <img src="/images/avatar_1.jpg" class="image avatar" alt="" /></a><br>
					<a href="/login" class="myButton">logout</a>
                    <h1><a href="/index">main</a><br />
					<strong><a href="/card">card design</a></strong><br />
					<a href="/Q&A">Q&A</a></h1>
				</h1>
				</div>
			</header>

			<div id="main">
					<section id="one">
						<h2>♡Celeb Card Developer♡</h2>
					</section>

					<section id="two">
						
						<div class="row">
							
							<article class="col-6 col-12-xsmall work-item">
								<img src="/images/boy.png" width="200" alt=""/>
							</article>
							<form>
								<br>
								<b><h2>개발자 : 정한결</h2></b>
								<h4>역할 : 기획, 백앤드</h4>
								<h4>광주소프트웨어마이스터고등학교 재학</h4>  
								<h4>Celeb Card 제작자</h4>             
                            </form>
                            
                            <article class="col-6 col-12-xsmall work-item">
								<img src="/images/girl.png" width="200" alt=""/>
							</article>
							<form>
								<br>
								<b><h2>개발자 : 이세연</h2></b>
								<h4>역할 : 디자인, 프론트 앤드</h4>  
								<h4>광주소프트웨어마이스터고등학교 재학</h4>  
								<h4>Celeb Card 제작자</h4>								 
							</form>
							
                        </div>
					</section>

					<section id="three">
						
					</section>
			</div>
	</body>
</html>