<!DOCTYPE HTML>

<html>
	<head>
		<title>카드 제작</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/stylesheets/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
            <header id="header">
				<div class="inner">
					<a href="#" class="image avatar"><img src="/images/avatar_1.jpg" alt="" /></a><br>
					<a href="/" class="myButton">logout</a>
                    <h1><a href="/index">main</a><br />
					<strong><a href="/card">card design</a></strong><br />
					<a href="/Q&A">Q&A</a></h1>
				</h1>
				</div>
			</header>

			<div id="main">
					<section id="one">
						<h2>♡Card Production♡</h2>
					</section>

					<section id="two">
						
						<div class="row">
							
							<article class="col-6 col-12-xsmall work-item">
								<img src="/images/청첩장2.jpeg" alt="" />
								<h3>청첩장 ver.2</h3>
								<p>결혼 청첩장 ver.2</p>
							</article>

							<form action = "./marry2production" method ="POST">
                                <div class="form-label-group">
									<input type="text" id="inputEmail" name = "sinrang" class="form-control" placeholder="신랑 이름" required>                                    <label for="inputPassword"></label>
                                </div>
                                
                                <div class="form-label-group">
									<input type="text" id="inputEmail" name = "sinbu" class="form-control" placeholder="신부 이름" required>
                                    <label for="inputPassword"></label>
                                </div>
                                
                                <div class="form-label-group">
                                    <input type="text" id="inputEmail" name = "date" class="form-control" placeholder="결혼 날짜 및 시간" required>
                                    <label for="inputPassword"></label>
                                </div>
                                
                                <div class="form-label-group">
                                    <input type="text" id="inputEmail" name = "place" class="form-control" placeholder="장소" required>
                                    <label for="inputPassword"></label>
                                </div>  
                                
                                <div class="form-label-group">
                                    <input type="text" id="inputEmail" class="form-control" placeholder="연락처" required>
                                    <label for="inputPassword"></label>
                                </div>  
                                <br>
								<input type="submit" class="button" value = "card Production♡" >  
                                                
                            </form>
							
                        </div>
					</section>

					<section id="three">
						
					</section>
			</div>
	</body>
</html>