<!DOCTYPE HTML>

<html>
	<head>
		<title>main</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/stylesheets/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
            <header id="header">
				<div class="inner">
					<a href="information"> <img src="/images/avatar_1.jpg" class="image avatar" alt="" /></a><br>
                    <a href="/login" class="myButton">logout</a>
                    <h1><a href="/index">main</a><br />
                    <a href="/card">card design</a><br />
                    <strong><a href="/Q&A">Q&A</a></strong></h1>

				</div>
			</header>

			<div id="main">
					<section id="one">
						<header class="major">
							<h2>Q&A<br />
						</header>
					</section>

					<section id="two">
						<h2>카드 제작에 궁금한게 있다면 문의해 주세요.</h2>
						<p>ex) 카드 제작 비용이 궁금해요! <br> ex) 카드 제작 되는데 얼마나 걸리나요?</p>
						<div class="row">
							<div class="col-8 col-12-small">
								<form method="post" action="./send">
									<div class="row gtr-uniform gtr-50">
										<div class="col-6 col-12-xsmall"><input type="text" name="name" id="name" placeholder="Name" /></div>
										<div class="col-6 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Email" /></div>
										<div class="col-12"><textarea name="message" id="message" placeholder="Message" rows="4"></textarea></div>
									</div>
									<br>
									<input type="submit" value="Send Message" />
								</form>
								<ul class="actions">
								</ul>
							</div>
							<div class="col-4 col-12-small">
								<ul class="labeled-icons">
									<li>
										<h3 class="icon solid fa-home"><span class="label">Address</span></h3>
										광주 광역시 광산구.<br />
										송정도 상무대로 312<br />
									</li>
									<li>
										<h3 class="icon solid fa-mobile-alt"><span class="label">Phone</span></h3>
										010-1234-5678
									</li>
									<li>
										<h3 class="icon solid fa-envelope"><span class="label">Email</span></h3>
										<a href="#">Celebcard@naver.com</a>
									</li>
								</ul>
							</div>
						</div>
					</section>
			</div>
	</body>
</html>